<html>

<head>
	<title>Simcity</title>
	<link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>

	<div class="main">
			
		<div class="commercial-main">
			<h2>Commercial Items</h2>
			
			<div th:unless="${#lists.isEmpty(commercialItems)}">
				<table border="1">
					<thead>
						<tr>
							<th>Name</th>
							<th>Production Time</th>
							<th>In Storage</th>
							<th>Shop Name</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="commercialItem: ${commercialItems}">
							<td><span th:text="${commercialItem.name}">Name</span></td>
							<td><span th:text="${commercialItem.productionTime}">Production Time</span></td>
							<td><span th:text="${commercialItem.availabilityCount}">In Storage</span></td>
							<td><span th:text="${commercialItem.shopName}">Shop Name</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<div th:if="${#lists.isEmpty(commercialItems)}">
				<p>You have no commercial item saved in your database</p>
			</div>
		
			<br />
		
			<h3>Add a Commercial Item</h3>
			<form method="POST">
				<table>
					<tr>
						<td><label for="name">Name: </label></td>
						<td><input type="text" name="name" size="50" /></td>
					</tr>
					<tr>
						<td><label for="productionTime">Production Time (in min): </label></td>
						<td><input type="text" name="productionTime" size="50" /></td>
					</tr>
					<tr>
						<td><label for="availabilityCount">Count in Storage: </label></td>
						<td><input type="text" name="availabilityCount" size="15" /></td>
					</tr>
					<tr>
						<td><label for="shopName">Shop Name: </label></td>
						<td><input type="text" name="shopName" size="15" /></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	
	
</body>

</html>